<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DOWNLOAD_pro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,94}</string>
                <key>spriteSourceSize</key>
                <string>{330,94}</string>
                <key>textureRect</key>
                <string>{{845,625},{250,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LOGO_pro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{408,227}</string>
                <key>spriteSourceSize</key>
                <string>{598,347}</string>
                <key>textureRect</key>
                <string>{{543,225},{408,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RETRY_pro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,94}</string>
                <key>spriteSourceSize</key>
                <string>{330,94}</string>
                <key>textureRect</key>
                <string>{{589,635},{254,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{771,384}</string>
                <key>spriteSourceSize</key>
                <string>{857,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{771,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>奖励码_pro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-5}</string>
                <key>spriteSize</key>
                <string>{638,154}</string>
                <key>spriteSourceSize</key>
                <string>{694,164}</string>
                <key>textureRect</key>
                <string>{{387,1},{638,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>奖励面板.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,222}</string>
                <key>spriteSourceSize</key>
                <string>{1024,222}</string>
                <key>textureRect</key>
                <string>{{543,1},{1024,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>引导手势2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{387,641},{112,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>标记-胜利_pro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{807,398}</string>
                <key>spriteSourceSize</key>
                <string>{857,398}</string>
                <key>textureRect</key>
                <string>{{772,225},{807,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1580,773}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04f28042a511d87c447a13acd53af618:5e4f35167f75cb89383e18e87eff7ad5:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
