<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>图层 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{1,319},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{303,319},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{1,637},{300,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男 死_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{605,1},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{605,319},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{319,637},{300,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男 死_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{907,1},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{907,319},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{637,637},{300,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男 死_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{1209,1},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{1511,1},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{1209,319},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{1511,319},{300,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>男 死_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{955,637},{300,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>男 死_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,316}</string>
                <key>spriteSourceSize</key>
                <string>{300,316}</string>
                <key>textureRect</key>
                <string>{{1273,637},{300,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>man_dead.png</string>
            <key>size</key>
            <string>{1812,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6def752c3176a2ee0042c966927309c:846c5782009141181d88165506c59790:2bbb6a1e7371786506fc4506c9630445$</string>
            <key>textureFileName</key>
            <string>man_dead.png</string>
        </dict>
    </dict>
</plist>
