<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>丧尸死亡_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{335,1},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{669,1},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1003,1},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1337,1},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1671,1},{332,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>丧尸死亡_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1,303},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{335,303},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{669,303},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1003,303},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1337,303},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1671,335},{332,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>丧尸死亡_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1,605},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{335,605},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{669,605},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1003,605},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1337,605},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1671,669},{332,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>丧尸死亡_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{1,907},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{335,907},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>丧尸死亡_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,300}</string>
                <key>spriteSourceSize</key>
                <string>{332,300}</string>
                <key>textureRect</key>
                <string>{{669,907},{332,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>woman.png</string>
            <key>size</key>
            <string>{1972,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4f4e9dc959a081b95aa5ca17b3e0aef:94e1ca7e3d87e1d47083f602eba10a7f:2b058b61600a7fa9cae746061d500f2a$</string>
            <key>textureFileName</key>
            <string>woman.png</string>
        </dict>
    </dict>
</plist>
